        body
        {
            background-color: black;
        }
        #navbar
        {
            overflow: hidden;
            background: black;
            width: 1350px;
        }
        /* css voor rode link vakjes */
        #navbar a 
        {
            float: left;
            display: block;
            color: white;
            background-color: red;
            padding: 14px;
            margin-top: 33px;
            margin-right: 35px;
            margin-bottom: 33px;
            margin-left: 75px;
            text-decoration: none;
            text-align: center;
            height: 33px;
            width: 233px;
            font-family: "Comic Sans MS", cursive, sans-serif;
            font-size: 16px;
            
        }
        #navbar a:hover
        {
            float: left;
            display: block;
            color: white;
            background-color:rgb(150, 0,100);
            padding: 14px;
            margin-top: 33px;
            margin-right: 35px;
            margin-bottom: 33px;
            margin-left: 75px;
            text-decoration: none;
            text-align: center;
            height: 33px;
            width: 233px;
        }
        #navbar #hr
        {
            clear: left;
            visibility: visible;
            width: 1500px;
            height: 1px;
            background-color: red;
            
        }
       
        .content
        {
            padding: 16px;
        }
        .sticky
        {
            position: fixed;
            top: 0;
            width: 2000px;
        }
        .sticky + .content
        {
            padding-top: 60px;
        }
        #headerLogo
        {
        margin-left: 20px;
        width: 100px;
        height: 100px;
        float: left;
        border: 10px outset rgb(0, 0, 50);
        }
        #headerLogo img
        {
            height: 150px;
            width: 150px;
        }
        #logoTekst p
        {
            font: 30px bolder;
            color: white;
            float: left;
            margin-left: 15px;
            margin-top: 45px;
        }
        #logoTekst span
        {
            color: red;
            font-size: 60px
        }
        #content
        {
            color: white;
        }
        #slider
        {
            width: 766px;
            height: auto;
        }
        #footer
        {
            height: 200px;
            background-color: black;
            color: white;
        }